.registerPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerTitle {
    font-size: 86px;
    margin: 10px 0;
}

.registerSubtitle {
    font-size: 35px;
    margin: 0;
    margin-bottom: 100px;
}

.registerForm {
    display: flex;
    gap: 50px;
    width: 75%;
}

.registerForm>input {
    font-size: 15px;
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 7px;
}

.registerForm-submit {
    background-color: #1A5AFF;
    width: 65%;
    border: none;
    border-radius: 32px;
    padding: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.registerLogin {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerLogin-text {
    font-size: 13px;
}

.registerLogin-anchor {
    font-size: 20px;
    color: black;
}