@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    font-family: 'Square Peg', cursive;
}

a {
    color: white;
    font-size: 20px;
}

html,
body {
    background-color: grey;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.off {
    display: none !important;
}

.page-login,
.page-register,
.page-home,
#root {
    height: 100%;
}

.page-login,
.page-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm,
.registerForm {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm input,
.registerForm input {
    width: 150px;
    color: black;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 20px;
}

.submitLogin,
.submitRegister {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}

button:hover {
    background-color: white;
    color: black;
}

.page-home header,
.page-home footer {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.page-home footer {
    bottom: 0;
}

.page-home header {
    flex-direction: column !important;
    justify-content: space-between;
    top: 0;
    display: flex;
    flex-direction: row;
}

.headerContainer {
    align-items: center;
    gap: 80px;
    display: flex;
    flex-direction: row;

}

.noteBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    justify-content: flex-start;
}

.noteBlog-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    margin-top: 180px;
}

.list {
    padding: 10px;
    margin: 70px 0px;
    width: 100%;
}

.list__item {
    list-style: none;
    background-color: khaki;
    padding: 10px;
    margin: 10px;
}

.list__item-delete-button {
    align-self: flex-end;
    width: 1rem;
    height: 1rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}

.title {
    margin-left: 50px;
}

.hamburgerMenu-icon {
    margin-right: 50px;
    max-width: 30px;
}

.headerContainer {
    top: 0;
    gap: 0;
    position: fixed;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.headerFlex {
    width: 100%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
}

.menu-panel {
    width: 100%;
    margin: 0;
    background-color: white;
    margin-top: -30px;
    z-index: -1;
}

.menu-panel__list-item {
    color: khaki;
}

.menu-panel__list {
    align-items: center;
    justify-content: center;
}

.transparent-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

.transparent-button:hover {
    background-color: transparent;
    color: khaki;
}