.settings-panel{
    padding: 10px;

}

.update-mail-form,
.update-password-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.form__field{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
